@using Berberim.Entities
@model IEnumerable<PersonelKazanc>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center my-4" style="font-size: 2.5rem; color: #007bff;">Personel Kazançları</h2>

<table class="table table-striped table-hover shadow-sm" style="font-size: 1rem; background-color: #f8f9fa; border-radius: 10px;">
	<thead class="table-info">
		<tr>
			<th>Id</th>
			<th>Personel</th>
			<th>Tarih</th>
			<th>Toplam Kazanç</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var per in Model)
		{
			<tr>
				<td>@per.PersonelKazancID</td>
				<td>@per.Personnel.personelName</td>
				<td>@per.Date</td>
				<td>@per.TotalPersonelKazanc</td>
			</tr>
		}
	</tbody>
</table>
