@{
    Layout = "~/Views/Shared/_GenelLayout.cshtml";
    ViewData["Title"] = "Ana Sayfa";
}

<h1>Hoş Geldiniz!</h1>
<p>Berberim'e hoş geldiniz. Profesyonel hizmetlerimizle sizlere en iyi deneyimi sunuyoruz.</p>
